<h1>Here are all <%= current_user.name %>'s albums:</h1>

<div class="cards">
  <% @albums.each do |album| %>
      <div class="card">
        <div class="card-image">

          <img src="<%= album.photos.sample.try(:photo_image) %>">
        </div>
        <div class="card-header">
          <%= album.name %>
        </div>
        <div class="card-copy"> 
          <%= link_to raw('<button>Rename</button>'), edit_album_path(album[:id]) %>
          <%= link_to raw('<button>Show Photos</button>'), album %>
          <%= link_to raw('<button>Delete</button>'), album, method: :delete, data: { confirm: 'Are you sure?'} %>
        </div>
      </div>
  <% end %>
</div>

<%= link_to raw('<button>New album</button>'), new_album_path %>