<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<div class="cards">
  <% @photos.each do |photo|  %>
  <div class="card">
    <div class="card-image">
      <img src="<%= photo.photo_image %>">
    </div>
    <div class="card-header">
      <%= photo.name %>
    </div>
    
    <div class="card-copy">
      <%= link_to raw('<button>Edit</button>'), edit_photo_path(photo[:id]) %>
      <%= link_to raw('<button>Show Photo</button>'), photo %>
      <%= link_to raw('<button>Delete</button>'), photo, method: :delete, data: { confirm: 'Are you sure?'} %>  
    </div>

  </div>
  <% end %>
</div>



<%= link_to raw('<button>Rename</button>'), edit_album_path(@album) %> |
<%= link_to raw('<button>Back</button>'), albums_path %>