<p id="notice"><%= notice %></p>

<h2>
  From <%= current_user.name %>'s <%= @photo.album.try(:name) %> album.
</h2>

<h2>
  <strong>Name:</strong>
  <%= @photo.name %>
</h2>

<p>
  <%= link_to image_tag(@photo.photo_image.url) %>
</p>


<%= link_to raw('<button>Edit</button>'), edit_photo_path(@photo[:id]) %>
<%= link_to raw('<button>Show Photo</button>'), @photo %>
<%= link_to raw('<button>Delete</button>'), @photo, method: :delete, data: { confirm: 'Are you sure?'} %>  




