<p id="notice"><%= notice %></p>

<h2>
  From <%= current_user.name %>'s <%= @photo.album.try(:name) %> album.
</h2>

<h2>
  <strong>Name:</strong>
  <%= @photo.name %>
</h2>

<p>
  <b>Image:</b>
  <%= link_to image_tag(@photo.photo_image.url) %>
</p>




<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', albums_path %>




