<nav>
  <ul>
    <li>
      <% if user_signed_in? %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'login', new_user_session_path %> |
      <%= link_to 'register', new_user_registration_path %>
      <% end %>
    </li>
    <li><%= link_to('Albums', albums_path) %></li>
    <li><%= link_to('New Album', new_album_path) %></li>
    <li><%= link_to('Photos', photos_path) %></li>
    <li><%= link_to('New Photo', new_photo_path) %></li>
    <li><%= link_to('Comments', comments_path) %></li>
    <li><%= link_to('New Comment', new_comment_path) %></li>
  </ul>
</nav>