<nav>
  <ul>
    <li>
      <% if user_signed_in? %>
      <%= link_to raw('<button>logout</button>'), destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to raw('<button>login</button>'), new_user_session_path %> |
      <%= link_to raw('<button>register</button>'), new_user_registration_path %>
      <% end %>
    </li>
    <li><%= link_to raw('<button>Albums</button>'), albums_path %></li>
    <li><%= link_to raw('<button>New Album</button>'), new_album_path %></li>
    <li><%= link_to raw('<button>New Photo</button>'), new_photo_path %></li>
    <li>
      <% if can? :index, Photo %>
        <%= link_to raw('<button>Photos</button>'), photos_path %>
      <% end %>
    </li>
    <li>
      <% if can? :index, User %>
        <%= link_to raw('<button>Users</button>'), users_path %>
      <% end %>
    </li>
  </ul>
</nav>

