  <!DOCTYPE html>
<html>
<head>
<title>Instagran</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>
  <header>
    <div class="wrapper">
        <h1>InstaGran</h1>
      <%= render partial: "layouts/menu" %>
    </div>
  </header>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>

  <footer>
     <br>
     &copy;1670. Instagran is a Neil product.
     <br>
  </footer>

</body>
</html>
