<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class "navbar-brand">
        <h1>InstaGran</h1>
      </div>
      <%= render partial: "layouts/menu" %>
    </div>
  </header>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
  </main>

  <footer>
     <br>
     <br>
  </footer>

</body>
</html>
